*{
    margin: 0;
    padding: 0;
}
body{
	background-image: url("../133/1304194.jpeg");
	height: 100%;
	width: 100%;
	background-size: cover;
	overflow-y: hidden;
	}
	
	.toulan{
		position: relative;
	    
		margin-left: 800px;
		height: 550px;
		width: 480;
		background-size: cover;
		top:60px;
		opacity: 0.99;
				
		
	}
	
	.m01{
		position: relative;
		margin-top: 80px;
		background-color: #f5f500;
		height: 480px;
		width: 500px;
		margin-left: 120px ;
		
		
	}
	.info{
		position: absolute;
		top: 40px;
		left: 180px;
		font-weight: bold;
		height: 120px;
		width: 1200px;
		/* background-color: aqua; */
	}
	.mm{
		display: inline-block;
		transform: scaleY(1.3);
		transform: rotate(90deg);
		
		transform-origin: left bottom;
		 	
	}
	
	span{
		position: relative;
		top: -40px;
		left: -10px;
		/* background-color: aquamarine; */
		font-size: 32px;
		letter-spacing: 1.5px;
		font-weight: bold;
		
	}
	
	.info ul{
		margin-left:16px;
		left: 0px;
	}
	.-small{
		margin-top: 0px;
		margin-left:0px;
		font-size: 29px;
		
	}
	
	li{list-style: none;}
	
	.thumb img{
		position: absolute;
		top: 40px;
		left: 40px;
		height: 140px;
		width: 140px;
		background-size: cover;
		
	}